body{
  
    /* background-image: url(./images/bg3.1.jpeg) ; */
    /* color:rgb(233, 218, 218); */
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.intro{
   display: block;
}
h1{
    font-size: 50px;
}
img{
    
    height: 30%;
    width: 30%;
}
/* body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
nav{
    background:wheat;
    height:80px;
    width: 100%;
    color: yellow;
}
label.logo{
    font-size: 45px;
    color: black;
    line-height: 80px;
    padding: 0 7%;
}

nav ul{
    float: right;
    margin-right: 10px;

}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
}
nav ul li a{
    color: black;
    text-transform: capitalize;
    text-decoration:solid;
    font-size: larger;
    border-radius: 3px;
    padding: 7px 13px;
    
}
a.active,a:hover{
    background:rgb(214, 214, 211);
    transition: 0.2s;
}
div{
    margin: 15px;
    padding: 3%;

}
.contacts{
    display: flex;
    text-align: center;
}
.section-1{
    /* display: flex; */
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color:rgb(244, 247, 240);
}
.intro-2{
   /* text-align: right; */
   
   
}
footer{
    margin: 0;
    padding: 0;
    display: flex;
    background-color:rgb(94, 85, 85);
}
.interests{
    /* display: flex; */
}
.intro-2{
    font-size: 40px;
}
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
}
.flex-box .interests{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 33vh;
}
.flex-box .hobbies{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    /* background :whitesmoke; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 33vh;

}
.flex-box .skills{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 300px;
    padding: 20px;
    margin-bottom: 130px;
    background :whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 33vh;
}
.section_1{
    background-color: rgb(219, 219, 209);
    text-align: center;
    margin: 0%;
    padding: 0%;
    
}
.section_2{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 228, 228);
    margin: 0;
    padding: 0;
    height: 40%;
}
 .about{
    /* display: flex; */
    float: right;

}
.section_1 .students{
    box-sizing: border-box;
    border: 2%
    ;
}